# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Compiled files
/artifacts

# Will be regerenated when the project loads if they are missing
/compiler.xml
/git_toolbox_prj.xml
/gradle.xml
/jarRepositories.xml
/modules
/vcs.xml

# Different for everyone
/misc.xml
